<ion-header>
  <ion-toolbar>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="ion-align-items-center">
    <ion-col>
      <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
    <ion-button color="primary" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
      <ion-icon name="balloon-outline"></ion-icon>
    Inicio
  </ion-button>
    </ion-fab-list>
  </ion-fab>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
      <H1>Aqui estão as ofertas mais quentes do mercado regional!</H1>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
   </ion-row> 
   <ion-row class="ion-align-items-center" >
    <ion-col size="3.985" *ngFor="let item of getLista()">
      <div>
       <ion-card>
        <ion-card-header>
          <ion-card-subtitle > {{item[0]}} </ion-card-subtitle>
          <ion-card-title> {{item[1]}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item[2]}}
        </ion-card-content>
        </ion-card>
        </div>
    </ion-col>
   </ion-row>
</ion-content>
