<ion-header>
  <ion-toolbar>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="ion-align-items-center">
    <ion-col>
     <ion-button color="primary" expand="full" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
       <ion-icon name="balloon-outline"></ion-icon>
     Inicio
   </ion-button>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
   </ion-row>
</ion-content>
