<ion-header>
  <ion-toolbar>
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="ion-align-items-center">
    <ion-col>
      <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
    <ion-button color="primary" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
      <ion-icon name="balloon-outline"></ion-icon>
    Inicio
  </ion-button>
    </ion-fab-list>
  </ion-fab>
     </ion-col>
     <ion-col>

     </ion-col>
</ion-row>

</ion-content>
