<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-row>
   <ion-col size="1.5" offset="5.175">
     <ion-card>
        <img src="../../assets/tab2/perfil.jpg">
        <ion-card-header>
          <ion-card-subtitle>DEV</ion-card-subtitle>
          <ion-card-title>PopcornandoDev</ion-card-title>
        </ion-card-header>
      </ion-card>
   </ion-col>
 </ion-row>
 <ion-list>
  <ion-item>
    <ion-label 
    onclick="window.location.href='http://localhost:8100/tabs/tab2/infopessoal'">
    Informações pessoais</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mudar a senha</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Desconectar</ion-label>
  </ion-item>
</ion-list>
</ion-content>
