<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  <h1>Esse é o começo e o protótico do aplicativo Popcornando!</h1>
  <ion-row class="ion-align-items-center">
    <ion-col>
    
    </ion-col>
    <ion-col>
      <ion-searchbar animated color="danger">
      
      </ion-searchbar>
    </ion-col> 
    <ion-col>
       
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
   <ion-col>
     <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
    <ion-button color="primary" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
      <ion-icon name="balloon-outline"></ion-icon>
    Inicio
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/ofertas'">
    <ion-icon name="diamond-outline"></ion-icon>
    Ofertas
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/recomendacoes'">
    <ion-icon name="rocket-outline"></ion-icon>
    Recomendações
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/especificacoes'">
    <ion-icon name="construct-outline"></ion-icon>
    Especificações
  </ion-button>
    </ion-fab-list>
  </ion-fab>
    </ion-col>
    <ion-col>
    <ion-card>
        <img src="../../assets/tab1/Ofertas.png">
        <ion-card-header button="true" 
        onclick="window.location.href='http://localhost:8100/ofertas'">
          <ion-card-title>
            Ofertas
          </ion-card-title>
        </ion-card-header>
        <ion-card-content button="true" 
        onclick="window.location.href='http://localhost:8100/ofertas'">
          Novas ofertas novinhas do mercado!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    <ion-card>
        <ion-card-header>
          <ion-card-title button="true" 
          onclick="window.location.href='http://localhost:8100/recomendacoes'">
            Recomendações
          </ion-card-title>
        </ion-card-header>
        <ion-card-content button="true" 
        onclick="window.location.href='http://localhost:8100/recomendacoes'">
          As recomendações escolhidas apenas para você!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    
    </ion-col> 
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
    
    </ion-col>
    <ion-col>
    <ion-card>
        <ion-card-header>
          <ion-card-title button="true" 
          onclick="window.location.href='http://localhost:8100/especificacoes'">
          Especificações
        </ion-card-title>
        </ion-card-header>
        <ion-card-content button="true" 
          onclick="window.location.href='http://localhost:8100/especificacoes'">
          Tem algo que você quer ir em detalhes? Clica Aqui!
        </ion-card-content>
      </ion-card>
    </ion-col> 
    <ion-col>
       
    </ion-col> 
  </ion-row>
</ion-content>