<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Primeira Tab
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  <h1>Esse é o começo e o protótico do aplicativo Popcornando!</h1>
  <ion-row class="ion-align-items-center">
    <ion-col>
    
    </ion-col>
    <ion-col>
      <ion-searchbar animated color="danger" value="Ionic">
      
      </ion-searchbar>
    </ion-col> 
    <ion-col>
       
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
   <ion-col>
    <ion-button color="primary" expand="full"><ion-icon name="balloon-outline"></ion-icon>
    Inicio</ion-button>
    </ion-col>
    <ion-col>
    <ion-card>
        <img src="C:\Users\Usuario\popcornando\src\app\tab1"/>
        <ion-card-header>
          <ion-card-title>Ofertas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Novas ofertas novinhas do mercado!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Recomendações</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          As recomendações escolhidas apenas para você!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
    
    </ion-col> 
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
    
    </ion-col>
    <ion-col>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Especificações</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Tem algo que você quer ir em detalhes? Clica Aqui!
        </ion-card-content>
      </ion-card>
    </ion-col> 
    <ion-col>
       
    </ion-col> 
  </ion-row>
</ion-content>