<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Primeira Tab
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  <h1>Esse é o começo e o protótico do aplicativo Popcornando!</h1>
  <img scr="http://files.gamebanana.com/img/ico/sprays/5175099f3a0d9.png" width="1900" height="260">
  <p style="color:rebeccapurple">Bora trabalhar nisso seus bandos de sedutores?</p>
  <a href="https://youtu.be/xvFZjo5PgG0">Link para o CriptoNinjas</a>
</ion-content>