<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configurações do aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Tema</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ajuda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size:22px;">
    Sobre Popcornando
  </ion-label>
      <ion-input readonly color="primary">0.000124V</ion-input>
      <ion-input readonly color="primary">PROTOTYPE CONFIDENTIAL AUTORIZED EYES ONLY</ion-input>
      <ion-input readonly color="primary">©Steallers, 2021</ion-input>
  </ion-item>
</ion-list>
</ion-content>
