<ion-header>
  <ion-toolbar>
    <ion-title>Especificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-fab vertical="top" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
    <ion-button color="primary" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
      <ion-icon name="balloon-outline"></ion-icon>
    Início
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/ofertas'">
    <ion-icon name="diamond-outline"></ion-icon>
    Ofertas
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/recomendacoes'">
    <ion-icon name="rocket-outline"></ion-icon>
    Recomendações
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/especificacoes'">
    <ion-icon name="construct-outline"></ion-icon>
    Especificações
  </ion-button>
    </ion-fab-list>
  </ion-fab>
  <ion-row>
    <ion-col>
      <ion-list class="ion-align-items-center">
  <ion-item>
    <ion-label position="floating">
        Categoria:
    </ion-label>
    <ion-input [(ngModel)]="categoria" inputmode="text">

      </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Marca:
    </ion-label>
    <ion-input [(ngModel)]="marca" inputmode="text">

      </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Anunciante:
    </ion-label>
    <ion-input [(ngModel)]="anunciante" inputmode="text">

      </ion-input>
  </ion-item>
  <ion-button (click)="add()">
    MARCAR
  </ion-button>
</ion-list>
    </ion-col>
  </ion-row>
</ion-content>
