<ion-header>
  <ion-toolbar>
    <ion-title>Recomendações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
    <ion-button color="primary" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
      <ion-icon name="balloon-outline"></ion-icon>
    Inicio
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/ofertas'">
    <ion-icon name="diamond-outline"></ion-icon>
    Ofertas
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/recomendacoes'">
    <ion-icon name="rocket-outline"></ion-icon>
    Recomendações
  </ion-button>
  <ion-button color="primary" onclick="window.location.href='http://localhost:8100/especificacoes'">
    <ion-icon name="construct-outline"></ion-icon>
    Especificações
  </ion-button>
    </ion-fab-list>
  </ion-fab>
<ion-row class="ion-align-items-center">
    <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
        <h1>Clica nos botões para ir para cada recomendação!</h1>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
        <ion-button color="primary" expand="full" size="large"  
        onclick="window.location.href='http://localhost:8100/recomendacoes/livro'"
        ><ion-icon name="book-outline"></ion-icon> &nbsp; Livros!
      </ion-button>
     </ion-col>
     <ion-col>
        <ion-button color="secondary" expand="full" size="large" 
        onclick="window.location.href='http://localhost:8100/recomendacoes/negocio'"
        ><ion-icon name="globe-outline"></ion-icon> &nbsp; Negocios!
      </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       
     </ion-col>
     <ion-col>
        <ion-button color="tertiary" expand="full" size="large" 
        onclick="window.location.href='http://localhost:8100/recomendacoes/brinquedo'"
        ><ion-icon name="football-outline"></ion-icon> &nbsp; Brinquedos!
      </ion-button>
     </ion-col>
     <ion-col>

     </ion-col>
   </ion-row>
</ion-content>
