<ion-header>
  <ion-toolbar>
    <ion-title>Recomendacoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="ion-align-items-center">
    <ion-col>
     <ion-button color="primary" expand="full" onclick="window.location.href='http://localhost:8100/tabs/tab1'">
       <ion-icon name="balloon-outline"></ion-icon>
     Inicio
   </ion-button>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
     <ion-col>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
     </ion-col>
     <ion-col>
        <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
        </ion-card>
     </ion-col>
     <ion-col>
     </ion-col>
   </ion-row>
</ion-content>
